@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fleur+De+Leah&family=Gwendolyn:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff7878, #ffffff, #74d680);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  color: white;
  font-family: Arial, sans-serif;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.nav-link {
  color: #bb051f;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff6b6b; 
}

.container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-family: "Gwendolyn", cursive;
  color: #378b29;
  font-size: 36px;
  margin-bottom: 20px;
}

.image {
  border-radius: 90%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1); 
}

.description {
  font-size: 18px;
  color: #378b29; 
  margin-top: 10px;
  line-height: 1.5;
}